@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Montserrat:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$primary--font: "DM Sans", sans-serif;
$secondary--font: "Poppins", sans-serif;
$third--font: "Montserrat", sans-serif;
$primary--color: #0b0547;
$secondary--color: #758285;
$text-light: #fff;
$text-gray: #4e4e4e;
$text-dark: #777e90;
$text-orange: #eea153;
// $margin-section: 130px;
