@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Montserrat:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0; }

*,
*:after,
*:before {
  box-sizing: border-box; }

input,
textarea,
select,
button {
  cursor: pointer; }

a {
  text-decoration: none;
  color: #000; }

img {
  display: block;
  max-width: 100%; }

ul {
  list-style: none; }

html {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #0b0547; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  padding: 17px 32px;
  border-radius: 100rem; }
  .button--primary {
    background: linear-gradient(180deg, #3975f2 0%, #0643c4 100%);
    color: #fff;
    padding: 17px 25px; }
  .button--secondary {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1.5px solid #ffffff3e; }
    .button--secondary p {
      color: #fff;
      margin: 0 !important;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.5;
      padding-right: 8px; }
  .button--third {
    font-family: "Poppins", sans-serif;
    padding: 17px 0;
    display: flex;
    align-items: center; }
    .button--third p {
      color: #ffffff5e;
      margin-left: 13px; }
  .button--cricle {
    display: block;
    cursor: pointer;
    border-radius: 100rem;
    background-color: #fff;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.05); }
    .button--cricle ion-icon {
      color: #777e90;
      font-size: 16px; }

.header {
  padding-bottom: 20px; }
  .header .navicative {
    padding: 23px 0 12.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid #4d457b; }
    .header .navicative__logo {
      width: 85px; }
    .header .navicative__links ul {
      display: flex;
      gap: 40px; }
      .header .navicative__links ul li a {
        font-family: "Montserrat", sans-serif;
        display: block;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        opacity: 0.7; }
        .header .navicative__links ul li a:hover {
          opacity: 1; }
      .header .navicative__links ul li.active a {
        font-weight: 600;
        opacity: 1; }
  .header .banner {
    display: flex; }
    .header .banner__content {
      padding: 130px 0 85px 20px;
      border-left: 0.5px solid #4d457b;
      width: 50%; }
      .header .banner__content h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 58px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 1%; }
      .header .banner__content .span {
        line-height: 1.5;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 400;
        padding: 35px 0 95px; }
      .header .banner__content .boxButton {
        display: flex;
        align-items: center;
        gap: 55px; }
    .header .banner__sub--content {
      margin-left: -95px;
      margin-right: 95px;
      padding: 130px 0 85px;
      width: 50%; }
      .header .banner__sub--content .cricle {
        width: 590px;
        height: 590px;
        border-radius: 100rem; }
      .header .banner__sub--content .cricle0 {
        background-color: #110a55;
        width: 590px;
        height: 590px;
        position: relative; }
      .header .banner__sub--content .cricle1 {
        width: 480px;
        height: 480px;
        background-color: #2a28ad2e;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .header .banner__sub--content .cricle2 {
        width: 380px;
        height: 380px;
        background-color: #863c811e;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .header .banner__sub--content img {
        position: absolute;
        top: 75px;
        left: 145px;
        opacity: 1; }

.how {
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
  max-width: 925px; }
  .how .item {
    font-family: "Poppins", sans-serif;
    width: calc((925px - 90px * 2) / 3);
    display: flex;
    flex-direction: column;
    align-items: center; }
    .how .item__icon {
      width: 150px; }
    .how .item__title {
      text-align: center;
      font-size: 24px;
      line-height: 1.5;
      font-weight: 600;
      color: #fff;
      padding: 34px 0 10px; }
    .how .item__span {
      text-align: center;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      color: #777e90; }

/*# sourceMappingURL=app.css.map */
